#cuerpo{
    width:  1250px;
}
.contenedor{
    color: #333;
    width:  800px;
    height:  calc(100vh - 70px);
    min-height: calc(100vh - 50px);
    overflow: auto;
}
.barraNav:hover {
    background-color: #555;
    color: white;
}
.error{
    color: red;
    font-size: 12px;
}
.celdaPublicacionesTitulo{
    align: "center";
    width: 100px;
    height: 70px;
}
.celdaPYR{
    width: 133px;
    align: "center";
}
.celdaPublicacionDesc{
    width: 400px;
    border: black 5px solid;
}
.celdaPublicacionesDesc{
    width: 400px;
    height: 70px;    
}
.mensaje{
    width: 200px;
    height: 20px;
}
#menuBarra{
    margin-right: 30px;
    width: 200px;
    height: 50px;
    min-height: calc(100vh - 50px);
    background-color: #228822;
}